<div class="all">
    <h1 class="title">Authenticator Verification</h1>
  
    <div class="top_img">
  
    </div>
    
    <br> <br> <br>
  
    <h2>Set up Authenticator Application</h2>
    <h3>Enter the 6-digit code you see in the app.</h3>
    <input>
  
    <br> <br>
  
    <div class="buttons">
      <a routerLink = "/MFA_setup" class="back">
        <button>Cancel</button>
      </a>
      <a routerLink = "/MFA_worked" class="next" >
        <button>Next</button>
      </a>
    </div>
  </div>