<div class="all">
    <h1 class="title">Authenticator Setup</h1>
  
    <div class="top_img">
  
    </div>
    
    <br> <br> <br>
  
    <h2>Set up Authenticator Application</h2>
    <h3>Get the Authenticator App from the App Store or Google Play.</h3>
    <h3>In the App choose Scan QR code</h3>
    <img src="favicon.ico">
  
    <br> <br>
  
    <div class="buttons">
      <a routerLink = "/MFA_setup" class="back">
        <button>Cancel</button>
      </a>
      <a routerLink = "/Authenticator_verification" class="next">
        <button>Next</button>
      </a>
    </div>
  </div>